*.class

# Package Files #
*.jar
*.war
*.ear
/vaadin-ga-tracker/vaadin-ga-tracker/target/
/vaadin-ga-tracker/vaadin-ga-tracker-demo/target/
/demo/target/
/addon/target/

# IDE Files
.idea
*.iml
.project
.settings
.classpath
